.git
.gitignore
.gitattributes
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
.pre-commit-config.yaml
docs/build/
notebooks/
.vscode/
.idea/
.DS_Store
.env
*.pem
*.key
